fastapi>=0.110
uvicorn>=0.30
streamlit>=1.30

langchain-core>=0.2
langchain-community>=0.2
langchain-qdrant>=0.1
langchain-ollama>=0.1

qdrant-client>=1.9
ollama>=0.3

pypdf>=4.0
python-dotenv>=1.0

python-multipart>=0.0.5